header {
  display: flex;
  width: 100%;

}

#bars {
  font-size: 24px;
  margin: auto;
}

#logo {
  margin: auto;
  flex: 1;
  padding-left: 16px;
  font-size: 40px;
}

#search {
  margin: auto;
  flex: auto;
  font-size: 24px;
}

#bell {
  margin: auto-;
  padding-right: 16px;
  font-size: 24px;
}

.circle {
  height: 56px;
  width: 56px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
}

.circle fa-icon {
  padding-top: 10px;
  padding-left: 14px;

  font-size: 32px;
}
