.gallery {
  display: grid;
}

.video {
  padding: 15px;
  max-width: 1000px;
  display: inline;
}

.video:hover {
  border-radius: 16px;
  background-color: #f2f2f2;
  cursor: pointer;
}

@media (max-width: 699px) {
  .gallery { grid-template-columns: repeat(1, 1fr)}
  .video { padding: 20px 0 }
}
@media (min-width: 700px) {
  .gallery { grid-template-columns: repeat(2, 1fr)}
}
@media (min-width: 1000px) {
  .gallery { grid-template-columns: repeat(3, 1fr)}
}
@media (min-width: 1400px) {
  .gallery { grid-template-columns: repeat(4, 1fr)}
}
@media (min-width: 2000px) {
  .gallery { grid-template-columns: repeat(5, 1fr)}
}

.flex {
  display: flex;
}

.thumbnail {
  position: relative;
}

.lock-aspect {
  display: none;
  position: relative;
  padding-bottom: 57.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.lock-aspect  iframe {
  frameborder: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hover-wrapper:hover .thumbnail{
  display: none;
}
.hover-wrapper:hover .lock-aspect{
  display: block;
}

.thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.duration {
  font-size: 12px;
  padding: 3px 5px 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  margin: 8px 4px;
}

.pfp {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.details h3 {
  font-size: 16px;
  font-weight: 600;

  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel, .channel a {
  margin: 7px 0 6px 0;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #4d4d4d;
}
.details a:hover {
  color: #0f0f0f;
  text-decoration: underline;
}

.statistics {
  font-size: 15px;
  font-weight: 500;
  color: #4d4d4d;
  display: flex;
  gap: 5px;
}

