header {
  padding: 10px 20px 10px 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}
.wrapper {
  display: flex;
  gap: 12px;
  justify-content: right;
}
.wrapper.fixed {
  width: 200px;
}

#bars {
  font-size: 24px;
  margin: auto;
  padding-top: 3px;
}
#logo {
  margin: auto;
  height: 1.7rem;
}

.searchbar {
  display: flex;
  width: 50%;
  margin: auto;
  font-size: 24px;
}
.searchbar input {
  width: 100%;
  max-width: 600px;
  height: 1.5rem;
  border-radius: 48px 0 0 48px;
  border: 1px solid #b5b5b5;
  padding: 4px 16px;
}
.searchbar input:focus {
  outline: none;
  border-color: #0065c7;
}
.searchbar button {
  border-radius: 0 48px 48px 0;
  border: 1px solid #b5b5b5;
  border-left: none;
  padding: 4px 20px;
  background-color: whitesmoke;
}

#bell {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 16px;
  font-size: 20px;
}

/* USER PROFILE PICTURE */
.circle {
  margin-right: 16px;
  height: 36px;
  width: 36px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
}
.circle fa-icon {
  padding-left: 9px;
  padding-top: 6px;
  font-size: 20px;
}

