<div class="gallery">
  <div class="video" *ngFor="let video of videoList">
    <div class="thumbnail">
      <img [src]="video.thumbnail.url" alt="">
      <span class="duration">{{ timeFormat(video.duration) }}</span>
    </div>
    <div class="flex">
      <img class="pfp" [src]="getVideoPFP(video.channelID)" alt="">
      <div class="details">
        <h3>{{video.title}}</h3>
        <a href="">{{video.channelName}}</a>
        <span>{{video.views | shortNumber}} views</span>
      </div>
    </div>
  </div>
</div>

<!--    <img [src]="video.thumbnail.url" alt="">-->
<!--    <iframe width="512" height="288"-->
<!--            [src]="vidLink(video.id)">-->
<!--    </iframe>-->
