.gallery {
  display: grid;
}

.video {
  padding: 20px;
  max-width: 1000px;
  display: inline;
}

@media (max-width: 699px) {
  .gallery { grid-template-columns: repeat(1, 1fr)}
  .video { padding: 20px 0 }
}
@media (min-width: 700px) {
  .gallery { grid-template-columns: repeat(2, 1fr)}
}
@media (min-width: 1000px) {
  .gallery { grid-template-columns: repeat(3, 1fr)}
}
@media (min-width: 1500px) {
  .gallery { grid-template-columns: repeat(4, 1fr)}
}
@media (min-width: 2000px) {
  .gallery { grid-template-columns: repeat(5, 1fr)}
}

.flex {
  display: flex;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.duration {
  font-size: 12px;
  padding: 3px 5px 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  margin: 8px 4px;
}

.pfp {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.details h3 {
  font-size: 16px;
  font-weight: 510;

  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

